@model IEnumerable<SilkPlaster.Entities.Slider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin-navbar-footer.cshtml";
}


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="icon-gradient pe-7s-repeat bg-happy-itmeo"></i>
            </div>
            <div>
                Sliders
                <div class="page-title-subheading">
                    @*In this section you can view and edit the categories of products.*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Sliders</h5>
            <div class="table-responsive">
                <table class="mb-0 table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Html.DisplayNameFor(model => model.Image)</th>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                            <th>@Html.DisplayNameFor(model => model.RedirectAddress)</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td><img src="~/images/sliders/@item.Image" width="50" /></td>
                                <td>
                                    @if (item.Name.Length > 25)
                                    {
                                        <span>@item.Name.Substring(0, 25)</span>
                                    }
                                    else
                                    {
                                        <span>@item.Name</span>
                                    }
                                </td>
                                <td>
                                    @if (item.Description.Length > 25)
                                    {
                                        <span>@item.Description.Substring(0, 25)</span>
                                    }
                                    else
                                    {
                                        <span>@item.Description</span>
                                    }
                                </td>
                                <td>@item.RedirectAddress</td>
                                <td>
                                    @Html.ActionLink("Güncelle", "Edit", "Slider", new { area = "Admin", Id = item.Id }, new { @class = "mb-1 mr-1 btn-transition btn btn-outline-info" })

                                    @Html.ActionLink("Sil", "Delete", "Slider", new { area = "Admin", Id = item.Id }, new { @class = "mb-1 mr-1 btn-transition btn btn-outline-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
