@model SilkPlaster.Common.EntityValueObjects.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<!-- Main of the Page -->

<main id="mt-main">
    <!-- Mt Content Banner of the Page -->
    <section class="mt-contact-banner" style="background-image: url(/images/login-background.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>KAYIT OL</h1>
                    <nav class="breadcrumbs">
                        <ul class="list-unstyled">
                            <li><a href="/">ANASAYFA <i class="fa fa-angle-right"></i></a></li>
                            <li>Kayıt Ol</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Mt Content Banner of the Page end -->
    <!-- Mt About Section of the Page -->
    <section class="mt-about-sec" style="padding-bottom: 0;">
        <div class="container">
            <div class="row">
                @*<div class="col-xs-12">
                        <div class="txt">
                            <h2>register</h2>
                            <p>Morbi in erat malesuada, sollicitudin massa at, tristique nisl. Maecenas id eros scelerisque, vulputate tortor quis, efficitur arcu sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Umco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit sse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat <strong>Vestibulum sit amet metus euismod, condimentum lectus id, ultrices sem.</strong></p>
                        </div>
                    </div>*@
            </div>
        </div>
    </section>
    <!-- Mt About Section of the Page -->
    <!-- Mt Detail Section of the Page -->
    <section class="mt-detail-sec toppadding-zero">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-push-1">
                    <div class="holder" style="margin: 0;">
                        <div class="mt-side-widget">
                            <header>
                                <h2 style="margin: 0 0 5px;">KAYIT OL</h2>
                            </header>
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { style = "margin: 0 0 80px;" }))
                            {
                                <fieldset>
                                    @Html.ValidationSummary(false)
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "input", placeholder = "İsim", required = "required" })
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            @Html.TextBoxFor(model => model.LastName, new { @class = "input", placeholder = "Soyisim", required = "required" })
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "input", placeholder = "E-posta", type = "email", required = "required" })
                                        </div>

                                        <div class="col-xs-12 col-sm-6">
                                            @*@Html.TextBoxFor(model => model.Email, new { @class = "input", placeholder = "İsim", type = "email" })*@
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            @Html.PasswordFor(model => model.Password, new { @class = "input", placeholder = "Parola", required = "required" })
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            @Html.PasswordFor(model => model.RePassword, new { @class = "input", placeholder = "Parola Tekrar", required = "required" })
                                        </div>
                                    </div>

                                    <div class="box">
                                        <a href="@Url.Action("Login","Account")" class="help">Bir hesabın var mı? Hemen giriş yapın.</a>
                                    </div>
                                    <button type="submit" class="btn-type1">Kayıt Ol</button>
                                </fieldset>
                            }
                            <header>
                                <h2 style="margin: 0 0 5px;">Sosyal Medyayla Kaydol</h2>
                                <p>Sosyal Medya İle Hızlıca Kayıt Olabilirsiniz.</p>
                            </header>
                            <ul class="mt-socialicons">
                                <li class="mt-facebook"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li class="mt-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="mt-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="mt-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li class="mt-pinterest"><a href="#"><i class="fa fa-openid"></i></a></li>
                                <li class="mt-youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Mt Detail Section of the Page end -->
</main>

<!-- Main of the Page end -->