@model SilkPlaster.Entities.Order
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/admin-navbar-footer.cshtml";
}




<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="icon-gradient pe-7s-cart bg-happy-itmeo"></i>
                </div>
                <div>
                    Sipariş Detayı
                    <div class="page-title-subheading">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-md-12">
            <h5><b>Kullanıcı Bilgileri</b></h5>
            <div class="form-row">
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="Name">Kullanıcı Adı</label>
                        <input class="form-control" type="text" disabled value="@Model.Address.FirstName">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="Name">Kullanıcı Soyadı</label>
                        <input class="form-control" type="text" disabled value="@Model.Address.LastName">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="Name">Telefon</label>
                        <input class="form-control" type="text" disabled value="@Model.Address.PhoneNumber">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="Name">E-mail</label>
                        <input class="form-control" type="text" disabled value="@Model.Member.Email">
                    </div>
                </div>
            </div>

            <br />
            <h5><b>Adres Bilgileri</b></h5>
            <div class="form-row">
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="Name">İl</label>
                        <input class="form-control" type="text" disabled value="@Model.Address.City.Name">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="Name">İlçe</label>
                        <input class="form-control" type="text" disabled value="@Model.Address.County.Name">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="Name">Adres</label>
                        <textarea class="form-control" disabled style="width:250px;height:150px;">@Model.Address.Description</textarea>

                    </div>
                </div>
            </div>

            <br />

            <h5><b>Fatura Bilgileri</b></h5>
            <div class="form-row">
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="Name">T.C No:</label>
                        <input class="form-control" type="text" disabled value="@Model.Address.CitizenshipNumber">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="Name">Firma Adı</label>
                        <input class="form-control" type="text" disabled value="@Model.Address.CompanyName">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="Name">Vergi Dairesi</label>
                        <input class="form-control" type="text" disabled value="@Model.Address.TaxAdministration">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="Name">Vergi Numarası</label>
                        <input class="form-control" type="text" disabled value="@Model.Address.TaxNumber">
                    </div>
                </div>
            </div>

            <br />
            <h5><b>Ödeme Bilgileri</b></h5>
            <div class="form-row">
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="Name">Ödeme Yöntemi</label>
                        <input class="form-control" type="text" disabled value="@Model.PaymentType">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="Name">Sipariş Durumu</label>
                        <input class="form-control" type="text" disabled value="@Model.OrderState">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="Name">Kargo Takip Numarası</label>
                        <input class="form-control" type="text" disabled value="@Model.CargoTrackingNumber">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="Name">Toplam Tutar</label>
                        <input class="form-control" type="text" disabled value="@(Model.OrderDetails.Sum(i=>i.Price * i.Quantity).ToString("c"))">
                    </div>
                </div>
            </div>

            <div class="main-card mb-3 card">
                <div class="card-header">
                    Sipariş Detayı
                </div>
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Ürün Numarası</th>
                                <th>Ürün Fotoğrafı</th>
                                <th>Ürün Adı</th>
                                <th class="text-center">Fiyatı</th>
                                <th class="text-center">Adeti</th>
                                <th class="text-center">Ürün Toplam</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderDetails)
                            {
                                <tr>
                                    <td width="20" class="text-center text-muted">@item.ProductId</td>
                                    <td>
                                        <img src="~/images/products/@item.Product.FirstImage" alt="@item.Product.Name" height="60" />
                                    </td>
                                    <td>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">
                                                    <div class="widget-heading">
                                                        @{
                                                            if (item.Product.Name.Length > 50)
                                                            {
                                                                <span>@item.Product.Name.Substring(0, 50)..</span>
                                                            }
                                                            else
                                                            {
                                                                <span>@item.Product.Name</span>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        @item.Price.ToString("c")
                                    </td>
                                    <td class="text-center">
                                        @item.Quantity
                                    </td>
                                    <td class="text-center">
                                        @{
                                            <span>@((item.Quantity * item.Price).ToString("c"))</span>
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Sipariş Açıklaması</h5>
                    <div class="scrollbar-container ps--active-y ps">
                        <p>
                            @Model.Description
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="mb-1 mr-1 btn-transition btn btn-outline-alternate" href="/Admin/Order">Listeye Geri Dön</a>
</div>
